body{
    background-color: #121212 !important;
    color: #F6F6F6 !important;
}

a {
    color: #F6F6F6 !important;
    text-decoration: none !important;
}

.card{
    margin-top: 20px;
    width: 300px;
    background-color: #121212 !important;
}
.card-img-top{
    width: 300px !important;
    
}

.card-body{
    text-align: center !important;
}
    
@media (max-width: 767.98px) {

    .card{
        margin-top: 20px;
        width: 200px;
    }

    .card-img-top{
        width: 200px !important;
        height: 120px !important;
    }
}