body{
    background-color: #121212 !important;
    color: #F6F6F6 !important;
    font-family: 'Roboto' sans-serif !important;
    height: 100%;
}

h1, h2{
    font-family: 'Covered By Your Grace', cursive;
    text-align: center;
    font-size: 40px !important;
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
}

@media screen and (min-width: 1024px){
    h1, h2{
        font-size: 80px !important;
    }
}

.container-fluid{
    margin-bottom: 5vh;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
    height: 100vh;
    position: relative;
    margin-bottom: 5vh;
}

#accueil-game-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5)
}

#accueil-game-logo img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vw;
    width: 25vw;
}

#accueil-parallax-bottomrow{
    position: absolute;
    bottom: 10%;
    height: 5%;
    width: 100%;
}

#accueil-parallax-arrow{
    height: 100%;
    text-align: center;
}

#accueil-parallax-arrow img{
    height: 100% !important;
}

#accueil-parallax-button{
    background-color: #f5f5f5;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accueil-parallax-button a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.accueil-section{
    margin-bottom: 10vh;
}

.accueil-section .row{
    text-align: center;
}

#accueil-first-section .row{
    align-items: center;
}

.accueil-section img{
    height: 15vh;
    width: 100%;
    border-radius: 50px;
}

.accueil-section h2{
    font-size: 25px !important;
}

#accueil-first-section .accueil-section-text{
    margin-top: -5vh !important;
}

.accueil-section-text p{
    background-image: url(../img/bulle_texte_1.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 10px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.accueil-section-titlecol{
    padding-left: 0px !important;
}

#accueil-second-section h2, #accueil-last-section h2{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#accueil-second-section h2{
    text-align: start;
}

#accueil-second-section .accueil-section-text, #accueil-last-section .accueil-section-text{
    margin-top: -12vh;
}

#accueil-second-section .accueil-section-text p{
    filter: drop-shadow(5px 14px 10px #000);
}

#accueil-last-section h2{
    text-align: end;
}

#accueil-last-section .accueil-section-titlecol{
    padding-right: 0px !important;
}

#accueil-buybutton{
    border-radius: 40px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5vh;
    background-color: #953f95;
    color: #F6F6F6;
}

@media screen and (min-width: 1200px){
    #accueil-game-logo img{
        height: 10vw !important;
        width: 10vw !important;
    }

    .accueil-section img{
        height: 50vh;
    }

    .accueil-section-text p{
        font-size: 25px;
    }

    .accueil-section h2{
        font-size: 80px !important;
    }

    #accueil-second-section .accueil-section-text, #accueil-last-section .accueil-section-text{
        margin-top: -25vh;
    }

    #accueil-buybutton{
        font-size: 60px;
        padding: 15px;
        margin-left: 10vw;
    }
}

@media screen and (min-width: 1800px){
    #accueil-parallax-button a{
        font-size: 30px;
    }
}

.card-body p{
    color: #121212;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
    font-size: 1.5vw;

}

.actu_card{
    margin-top: 20px;
    width:28vw;
    background-color: transparent !important;
    border: 0 !important;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.card-img-top{
    width:26vw;
    height: auto;
    border-radius: 2.5rem !important;
}


.card_buble{
    width: 28vw;
    height: auto;
    z-index: -1;
    position: relative;
    bottom: 28vh;
}

.boutonreadmore{
    position: relative;
    bottom: 35vh;
    left: 20vw;
    width: fit-content;
}

.readMore{
    text-decoration: none;
    color: #F6F6F6;
    background-color: #953f95;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
    font-size: 1.5vw;
    border-radius: 1.5em;
    padding: 12px;
}


    
.actuCard .btn-primary{
    background-color: rgb(189, 78, 170) !important;
    border-color: rgb(189, 78, 170) !important;
    border-radius: 2.5rem;
    position: relative;
    bottom: 100px;

    font-size: 20px !important;
    
}
/*
@media (max-width: 767.98px) {

    .card{
        margin-top: 20px;
        width: 200px;
    }

    .card-img-top{
        width: 200px !important;
        height: 120px !important;
    }
}
*/

#article_card{
    background-color: transparent !important;
    border: 0 !important;
    display: flex;
    align-items: center;
}

#article_img{
    width: 700px;
    height: auto;
    border-radius: 2.5rem !important;
}

#article_description{
    color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
}

#add-news{
    display: flex;
    flex-direction: column;
}

.modal_article_description{
    height: 200px;
    width: 450px;
}

.modal_article{
    width: 450px;
}

.modal-content{
    background-color: #5f5f5f !important;
    color: #F6F6F6 !important;
}

.main-menu{
    background-color: #0E0E0E;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-menu a{
    color: #F6F6F6
}

.nav-link{
    font-size: 3vw;
}

.logo img, .logo source, .main-menu-icons img{
    height: 100%;
    min-height: 2vh;
    min-width: 2vw;
}

.main-menu-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu-icons .nav-link{
    width: 50%;
}

.main-menu-icons img{
    max-height: 5vh;
    max-width: 5vw;
}

.dropdown-item{
    color: #121212 !important;
    background-color: #F6F6F6;
}

#username{
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-footer{
    border: 0 !important;
}

@media screen and (min-width: 1200px){
    .nav-link{
        font-size: 3rem;
    }
}

footer{
    background-color: #0E0E0E;
}

.footer-images-container{
    height: 60px;
    width: 90px !important;
    margin-top: 5vh;
}

.footer-images-container img{
    height: 100%;
    width: 100%;
}

.footer-links{
    text-align: center;
    margin-top: 60px;
}

.footer-links a{
    font-size: 20px;
    text-decoration: none;
    color: #F6F6F6 !important;
}

.footer-copyright{
    text-align: center;
    margin-top: 60px;
    color: #F6F6F6 !important;
    font-size: 20px;
}

.footer-PC{
    display: none;
    margin-top: 60px;
    justify-content: space-evenly;
}

@media screen and (min-width: 1024px){
    .footer-PC{
        display: flex;
    }
}

.contact-about-container{
    display: flex;
    height: 20vh;
    margin-bottom: 10vh;
}

.contact-about-container img, .contact-about-container .about-text-container-right, .contact-about-container .about-text-container-left{
    align-self: flex-end;
}

.contact-about-container img{
    height: 100%;
    border-radius: 40px;
    max-height: 20vh;
}

.about-text-container-right{
    padding-left: 50px;
    padding-right: 60px;
    background-color: #acacac;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    height: 80% !important;
    margin-left: -35px;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.about-text-container-left{
    padding: 50px;
    background-color: #acacac;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    height: 80% !important;
    margin-right: -35px;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.contact-about-container p{
    font-size: 16px;
    color: black;
}

.founders-infos-container{
    margin-bottom: 10vh;
}

.founder-col{
    text-align: center;
}

.founder-col img{
    width: 20vw;
    height: 20vw;
    border-radius: 30%;
}

.founder-col h3{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 25px !important;
    margin-top: 2vh;
}

.founder-col p{
    font-size: 17px;
}

.contact-infos-container{
    text-align: center;
    background-color: #acacac;
    margin-bottom: 20vh;
    padding-bottom: 10px;
    padding-top: 30px;
}


.contact-infos-container p{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.infos-col img{
    width: 5vw;
    height: 5vw;
}

.infos-col{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.infos-col p{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.contact-infos-container p{
    color: black;
    font-size: 17px;
}

.contact-infos-container a{
    font-size: 17px;
    color: #953f95;
}

@media screen and (min-width: 1024px){
    .contact-about-container{
        height: 40vh;
    }

    .contact-about-container img{
        max-height: 40vh;
    }

    .contact-about-container p{
        font-size: 30px;
    }

    .founder-col h3{
        font-size: 50px !important;
    }

    .founder-col p{
        font-size: 25px !important;
    }

    .contact-infos-container p{
        font-size: 30px;
    }
    .contact-infos-container a{
        font-size: 25px;
    }
}

.mentions-section{
    text-align: center;
    margin-bottom: 20vh;
}

#mentions-title{
    margin-bottom: 10vh !important;
    font-size: 40px !important;
}

.mentions-container{
    background-color: #acacac;
    margin-bottom: 10vh;
}

.mentions-container p{
    padding: 5vh 5vw;
    color: black;
}

@media screen and (min-width: 1024px){
    #mentions-title{
        font-size: 80px !important;
    }

    .mentions-container p{
        font-size: 30px;
    }
}


input{
    border-radius: 0.5em;
    border: 0!important;
}

hr {
    background-color: #F6F6F6;
    height: 3px!important;
    width: 200px;
    opacity: 1!important;
}

#connect-menu-title{
    margin-top: 40vh !important;
}

.connect-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40vh;
}

.connect-menu .menu-button1, .connect-menu .menu-button2{
    text-align: center;
    color: white;
    width: 100%;
    border-radius: 40px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5vh;
}

.connect-menu .menu-button1{
    background-color: #953f95;
}

.connect-menu .menu-button2{
    background-color: #1a2b49;
}

@media screen and (min-width: 1024px){
    .connect-menu .menu-button1, .connect-menu .menu-button2{
        font-size: 35px;
    }
}

.connexion-form-container{
    background-color: #acacac;
    border-radius: 50px;
}

.other-connections-buttons{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 7vh;
}

.google-connect{
    background-color: #db4a39;
}

.facebook-connect{
    background-color: #3b5998;
    margin-left: -8vw;
}

.facebook-connect a{
    margin-left: 8vw;
}

.other-connections-buttons div{
    text-align: center;
    width: 45%;
    border-radius: 50px;
    padding: 10px;
}

.other-connections-buttons a{
    text-decoration: none;
    color: #F6F6F6;
    font-weight: bold;
}

.connexion-form-input{
    background-color: #c4c4c4;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
}

.connexion-form-input img{
    height: 60px;
    width: 60px;
    margin: 10px;
    padding: 10px;
    background-color: #acacac;
}

#picto_login-black{
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    margin: 10px;
    padding: 10px;
    background-color: #acacac;
}

#picto_login-black img{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    filter: brightness(0) saturate(100%) invert(0%) sepia(13%) saturate(8%) hue-rotate(55deg) brightness(124%) contrast(86%);
}

.connexion-form-input input{
    background-color: #c4c4c4 !important;
    border: 0px !important;
}

.connexion-form-link{
    display: flex;
    justify-content: end;
}

.connexion-form-link a{
    color: #953f95;
    padding-right: 5vw !important;
}

.connexion-form-button{
    background-color: #953f95;
    text-align: center;
    border-radius: 50px;
    margin-top: 3vh;
    margin-bottom: 5vh;
    padding: 20px;
}

.connexion-form-button a{
    color: #F6F6F6;
    text-decoration: none;
    font-weight: bold;
    margin: 20px;
}

.connexion-form-button:hover{
    cursor: pointer;
}

@media screen and (min-width: 1024px){
    .other-connections-buttons a, .connexion-form-link a, .connexion-form-button a{
        font-size: 35px;
    }
}

.user-infos-container{
    background-color: #202020;
    padding-top: 5vh;
}

.user-infos-container .row{
    background-color: #c4c4c4;
    margin-bottom: 1vh;
}

.user-infos-container input, .user-infos-container .input-group-text{
    background-color: transparent;
    border: none;
    font-size: 13px !important;
}

.signup-checkboxes-container{
    margin-top: 3vh;
}

.signup-checkboxes-container .form-check{
    display: flex !important;
    align-items: center !important;
    color: #0E0E0E;
    font-size: 13px;
}

.signup-checkboxes-container input{
    background-color: #f6f6f6;
    border-radius: 15px !important;
    margin-right: 2vw;
}

#validate-row{
    background-color: transparent;
    padding-bottom: 3vh;
    padding-top: 2vh;
}

.validate-button, .modify-button{
    border-radius: 50px;
    padding-bottom: 1vh;
    padding-top: 1vh;
    text-align: center;
}

.validate-button{
    background-color: #1a2b49;
}

.modify-button{
    background-color: #953f95;
}

.validate-button a, .modify-button a{
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    color: #F6F6F6;
}

#profile-validate{
    visibility: hidden;
}

.validate-button:hover, .modify-button:hover{
    cursor: pointer;
}

@media screen and (min-width: 1024px){
    .signup-checkboxes-container .form-check, .user-infos-container input, .user-infos-container .input-group-text, .validate-button a, .modify-button a{
        font-size: 35px !important;
    }
}

#userinfo{
    text-align: center;
    font-size: 20px;
}

#infoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayUserInfo{
    width: 650px;
    background-color: #222222;
    color: #F6F6F6;
    border-radius: 1em;
    border: solid;
    border-color: #f6f6f6;
    border-width: 0.5px;
}

#admin-panel{
    text-align: center;
}